@charset "UTF-8";

.article {
	background-color: #deded3;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
}

.article span {
	color: #3a3a2c;
	display: flex;
	font-family: monospace;
}